defmodule <%= @module %>.MixProject do
  use Mix.Project

  def project do
    [
      app: :<%= @app %>,
      version: "0.1.0",
      elixir: "~> 1.12",
      start_permanent: Mix.env() == :prod,
      deps: deps()
    ]
  end

  def application do
    [
      extra_applications: [:logger],
      mod: {<%= @module %>.Application, []}
    ]
  end

  defp deps do
    [
      {:flex_web, "~> 0.1.0"},
      {:file_system, "~> 0.2"},
      {:jason, "~> 1.2"},
    ]
  end
end
